@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round');


@font-face {
    font-family: lotr;
    src: url("font/ringm.ttf");
}
@font-face {
    font-family: starjedi;
    src: url("font/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: starjout;
    src: url("font/Starjout.f72f509a.ttf");
}

:root {
    --wcs-color: #f99797;
    --dark-color:#000000;
    --secondary-color: #EC180A;
    --sw-text: #FFE919;
    --lotr-color:#f76c6c;
}

body.wcs{
    background-color: var(--dark-color);
}

.navbar {
    background-color: var(--dark-color);
      font-family: 'Varela Round', sans-serif;
      font-weight: bold;
}

.navbar a{
      color:orange;
}

.lotr .navbar a,
.lotr .btn-primary {
  color:darkred;
  font-family: 'lotr';
  font-weight: bold;
}

.lotr .navbar a:hover {
    text-shadow:1px 1px 1px var(--secondary-color);
}

.sw .navbar {
    font-family: starjedi;
}

.sw .navbar a,
.sw .btn-primary {
    color:var(--sw-text);
    font-family: starjedi;
}

.sw .navbar a:hover {
    text-shadow:1px 1px 1px var(--secondary-color);

}

section {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid grey;
    padding: 1em;
}


.row {
    justify-content: space-evenly;
    align-items: center;
}

.sw h1 {
    font-family: starjedi;
}

.sw .card-title,
.sw h2 {
    color:var(--dark-color);
    font-family: starjout;
}

.lotr  .card-title,
.lotr h1,
.lotr h2 {
    color:var(--secondary-color);
    font-family: 'lotr', sans-serif;
}

.jumbotron {
    background-image:url("https://bplusmovieblog.files.wordpress.com/2013/06/the-lord-of-the-rings-the-two-towers-1629.png");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    height:450px;
    color: var(--secondary-color);
}

.jumbotron-sw {
    background-image:url("img/Vader.jpeg");
}

.card {
  background-color:rgba(155, 0, 0, 0.4);
  color: #CCC;
}


.card .card-title {
  color: orange;
}

.card .btn-primary{
  background-color: var(--dark-color);
  color:orange;
  border-color: var(--dark-color);
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;
}
