@import url('https://fonts.googleapis.com/css?family=Raleway|Varela+Round');

:root {
    --wcs-color:#f76c6c;
}

.navbar {
    background-color: var(--wcs-color);
}

.navbar a {
    color:white;
}

.navbar a:hover {
    text-shadow:1px 1px 1px white;
}

section {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid grey;
    padding: 1em;
}

h2 {
    color:var(--wcs-color);
    font-family: 'Varela Round', sans-serif;
}

.jumbotron {
    background-image:url("https://bplusmovieblog.files.wordpress.com/2013/06/the-lord-of-the-rings-the-two-towers-1629.png");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    height:450px;
}